<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stapleton Kids Music</title>
  </head>
  <body>
    <header>
    </header>
    <main>
      <div id="curriculumSidenav">
        <a href="">Methodology</a>
        <a href="">Birth-18 months</a>
        <a href="">3-5</a>
      </div>
      <div>
        <h2>Methodology</h2>
        <p>
          The method that I use in all of my classes is based off of  Music Learning Theory.
          In MLT the focus is on auditation. “Audiation is the foundation of musicianship. It
          takes place when we hear and comprehend music for which the sound is no longer or may
          never have been present. One may audiate when listening to music, performing from
          notation, playing “by ear,” improvising, composing, or notating music”
          (http://giml.org/mlt/audiation/)
        </p>
        <p>
          Along with lots of repetition of our songs and chants,
          we spend time with patterns. Patterns are like the building blocks of music. Patterns
          focus only on rhythm or tonality but not both. Each quality is isolated so students
          can focus solely on that. It is not expected at the beginning that students will even
          respond to patterns, but as they become more familiar with them, random responses
          will turn into planned responses and soon they will be echoing and then creating their
          own patterns.
        </p>
      </div>
      <div>
        <h2>Birth to 18 months</h2>
        <p>
          In this class children will begin to explore the wonders of music. With parent
          assistance we will learn songs and chants, listen to music and move! Students will
          also have the opportunity to explore shakers, rain sticks and scarves as we listen
          and move to music. At this age, participation involves mostly just listening and
          observing as students take in everything around them. Students will listen as we
          practice patterns given by me and imitated by their adults.
        </p>
      </div>
      <div>
        <h2>18 months - 3 years</h2>
        <p>
          In this class I start to encourage a bit more participation and following directions.
          As with the littlest ones, parents are involved in this class as well. We will listen,
          learn songs and chants, and move as we learn. We will explore bean bags, scarves,
          shakers and more! Students will listen and begin responding to patterns given by me
          and imitated by their adults.
        </p>
      </div>
      <div>
        <h2>3 - 5 years</h2>
        <p>
          In this class students attend class on their own. Participation is expected at
          whatever stage your child is at. In this class we do a lot of movement to recordings
          as well as songs and chants that I will perform. Students will have the opportunity
          to explore movement to music with balls, bean bags, rain sticks and more! We will
          work on listening and imitating patterns as well.
        </p>
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
