<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Current Families at Adagio</title><!--Change to business name-->
  </head>
  <body>
    <header>
      <!--Use portable sticky header with "CURRENT" in all caps-->
      <h2>Welcome Back!</h2>
    </header>
    <main>
      <div>
        Announcements
      </div>
      <div>
        Calendar
      </div>
      <div>
        Payments
      </div>
      <div>
        Last Time in Class <!--Updates about "homework" and activities in class-->
      </div>
      <div>
        Join our Community on <a href="">Facebook</a>
      </div>
      <div>
        Running Late?
      </div>
      <div>
        Feedback
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
