<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Current Families at SKM</title><!--Change to business name-->
  </head>
  <body>
    <header>
      <!--Use portable sticky header with "CURRENT" in all caps-->
      <h2>Welcome Back!</h2>
    </header>
    <main>
      <div>
        Announcements<!--instructions to get announcements; upgrade as
          updateable field from text message or facebook feed-->
      </div>
      <div>
        Calendar <!--embed Google calendar-->
      </div>
      <div>
        Payments <!--initially include payment info, upgrade later to online system-->
      </div>
      <div>
        Last Time in Class <!--Updates about "homework" and activities in class-->
      </div>
      <div>
        Join our Community on
        <a href="https://www.facebook.com/StapletonKidsMusic/">Facebook</a>
      </div>
      <div>
        Running Late?<!--send text/email to Jessica-->
      </div>
      <div>
        Feedback <!--Google form allowing parents to leave feedback-->
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
