<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css"
    href="https://necolas.github.io/normalize.css/latest/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/united/bootstrap.css">
  <link rel="stylesheet" href="main.css">
  <title>Adagio - Music for Kids</title>
</head>
<body>
  <header>
  <nav class="navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Adagio</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#Bio">About Us</a></li><!--Link to lower down this page-->
        <li><a href="classes.html">Classes</a></li><!-- Link to other pages -->
        <li><a href="prospective.html">Prospective Families</a></li>
        <li><a href="current.html">Current Families</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact Us
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Call Us</a></li>
            <li><a href="#">Email Us</a></li>
          </ul>
        </li>
      </ul>
      </div>
    </nav>
    </header>
  <main>
    <div class="jumbotron">
      <img class="img-responsive" src="../images/SKMherophoto.jpg">
    </div>
      <div>
        <h3>Making Kids Musical!</h3><!--slogan-->
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div onclick="hideShow()" class="well">
              <a href="#Why">Why Music?</a><!--Links ot other pages, or expanded on this page?-->
            </div>
            <div id="whyMusic">
              Music is great for kids!
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well"
              <a href="#What">What We Do</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <a href="#Testimonials">Testimonials</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src=""><!---picture of Jessica goes here-->
          </div>
          <div id=Bio class="col-sm-9">
            <h4>Biography</h4>
            <p>
              Jessica Clark is a classically trained clarinet player and music teacher.
              She holds a Bachelor’s in Music Education from the University of Michigan and a
              Masters in Clarinet Performance from New York University.
              She has previously taught band, choir and jazz band in Washington State's Coupeville
              Middle and High School. She is the proud mother of two daughters, Mariko and Yuna,
              and out of a desire to spend as much time at home with her girls as possible founded
              Stapleton Kids Music in 2016. Currently she performs with the Denver Philharmonic
              Orchestra.
            </p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div>
        Copyright, legal stuff
      </div>
      <div>
        <a href=" https://www.facebook.com/StapletonKidsMusic/">Link to Facebook</a>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
      <script>
        function hideShow() {
        var x = document.getElementById('whyMusic');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
    </script>
  </body>
</html>
