<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css"
    href="https://necolas.github.io/normalize.css/latest/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/united/bootstrap.css">
  <link rel="stylesheet" href="../main.css">
  <title>Stapleton Kids Music</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
function whyFunction() {
    var x = document.getElementById('whyMusic');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
  }
  </script>
  <script>
  function whatFunction() {
    var x = document.getElementById('whatWeDo');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
  }
  </script>
  <script>
  function testimonialFunction() {
    var x = document.getElementById('Testimonials');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
  }
  </script>
</head>

<body>
  <header>
  <nav class="navbar-inverse navbar-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Adagio</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#Bio">About Us</a></li><!--Link to lower down this page-->
        <li><a href="classes.html">Classes</a></li><!-- Link to other pages -->
        <li><a href="prospective.html">Prospective Families</a></li>
        <li><a href="current.html">Current Families</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact Us
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Call Us</a></li>
            <li><a href="#">Email Us</a></li>
          </ul>
        </li>
      </ul>
      </div>
    </nav>
    </header>
  <main>
    <div class="jumbotron">
      <div class="ex1">
      <img class="img-responsive" src="../images/SKMherophoto.jpg">
      </div>
    </div>
      <div>
        <h3>Making Kids Musical!</h3><!--slogan-->
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <button class="btn btn-info" onclick="whyFunction()">Why Music?</button>
            <div class="well" id="whyMusic" style="display:none;">
              <p>
                olutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                cubilia Curae; Ut sit amet orci vel mauris blandit vehicula. Nullam quis enim.
                Integer dignissim viverra velit. Curabitur in odio. In hac habitasse platea dictumst.
                Ut consequat, tellus eu volutpat varius, justo orci elementum dolor, sed imperdiet
                nulla tellus ut diam. Vestibulum ipsum ante, malesuada quis, tempus ac, placerat sit
                amet, elit.
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-info" onclick="whatFunction()">What We Do</button>
            <div class="well" id="whatWeDo" style="display:none;">
              <p>
                olutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                cubilia Curae; Ut sit amet orci vel mauris blandit vehicula. Nullam quis enim.
                Integer dignissim viverra velit. Curabitur in odio. In hac habitasse platea dictumst.
                Ut consequat, tellus eu volutpat varius, justo orci elementum dolor, sed imperdiet
                nulla tellus ut diam. Vestibulum ipsum ante, malesuada quis, tempus ac, placerat sit
                amet, elit.
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-info" onclick="testimonialFunction()">Testimonials</button>
            <div class="well" id="Testimonials" style="display:none;">
              <p>
                olutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                cubilia Curae; Ut sit amet orci vel mauris blandit vehicula. Nullam quis enim.
                Integer dignissim viverra velit. Curabitur in odio. In hac habitasse platea dictumst.
                Ut consequat, tellus eu volutpat varius, justo orci elementum dolor, sed imperdiet
                nulla tellus ut diam. Vestibulum ipsum ante, malesuada quis, tempus ac, placerat sit
                amet, elit.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img class="img-responsive" src="../images/stockclarinet.jpg"
            alt="Headshot of Jessica" style="width:auto;height:200px"><!---picture of Jessica goes here-->
          </div>
          <div id=Bio class="col-sm-9">
            <h4>Biography</h4>
            <p>
              Jessica Clark is a classically trained clarinet player and music teacher.
              She holds a Bachelor’s in Music Education from the University of Michigan and a
              Masters in Clarinet Performance from New York University.
              She has previously taught band, choir and jazz band in Washington State's Coupeville
              Middle and High School. She is the proud mother of two daughters, Mariko and Yuna,
              and out of a desire to spend as much time at home with her girls as possible founded
              Stapleton Kids Music in 2016. Currently she performs with the Denver Philharmonic
              Orchestra.
            </p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div>
        Copyright, legal stuff
      </div>
      <div>
        <a href=" https://www.facebook.com/StapletonKidsMusic/">Link to Facebook</a>
      </div>
    </footer>
  </body>
</html>
