<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css"
    href="https://necolas.github.io/normalize.css/latest/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/united/bootstrap.css">
  <link rel="stylesheet" href="main.css">
  <title>Adagio - Music for Kids</title>
</head>
<body>
  <header>
  <nav class="navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Adagio</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#Bio">About Us</a></li><!--Link to lower down this page-->
        <li><a href="classes.html">Classes</a></li><!-- Link to other pages -->
        <li><a href="prospective.html">Prospective Families</a></li>
        <li><a href="current.html">Current Families</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact Us
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Call Us</a></li>
            <li><a href="#">Email Us</a></li>
          </ul>
        </li>
      </ul>
      </div>
    </nav>
    </header>
  <main>
      <div>
        <img id="classphoto" class="img-fluid" src="../images/SKMherophoto.jpg">
        <!--Picture of class-->
      </div>
      <div>
        <h3>Making Kids Musical!</h3><!--slogan-->
      </div>
      <div>
        <a href="#Why">Why Music?</a><!--Links ot other pages, or expanded on this page?-->
      </div>
      <div>
        <a href="#What">What We Do</a>
      </div>
      <div>
        <a href="#Testimonials">Testimonials</a>
      </div>
      <div>
        <img src=""><!---picture of Jessica goes here-->
      </div>
      <div id=Bio>
        <h4>Biography</h4>
        <p>
          Jessica Clark is a classically trained clarinet player and music teacher.
          She holds a Bachelor’s in Music Education from the University of Michigan and a
          Masters in Clarinet Performance from New York University.
          She has previously taught band, choir and jazz band in Washington State's Coupeville
          Middle and High School. She is the proud mother of two daughters, Mariko and Yuna,
          and out of a desire to spend as much time at home with her girls as possible founded
          Stapleton Kids Music in 2016. Currently she performs with the Denver Philharmonic
          Orchestra.
        </p>
      </div>
    </main>
    <footer>
      <div>
        Copyright, legal stuff
      </div>
      <div>
        <a href=" https://www.facebook.com/StapletonKidsMusic/">Link to Facebook</a>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  </body>
</html>
